<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976661859416-f1tsv0jvdhpfdcpc2t5adom40hcveo09.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976661859416-f1tsv0jvdhpfdcpc2t5adom40hcveo09</string>
	<key>API_KEY</key>
	<string>AIzaSyDb84NZg4_ni4WRJokThhlXtOtRn36DGbM</string>
	<key>GCM_SENDER_ID</key>
	<string>976661859416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.byoungil.youn.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-6e28c</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-6e28c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976661859416:ios:618135f4802bd1254fce2d</string>
</dict>
</plist>